:root{
    --Halloween-Orange:#EB6123 ;
    --Metallic-Yellow:#F5CD08 ;
    --Chinese-Black:#171615 ;
    --Rebecca-Purple: #5F2B93 ;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zen Old Mincho', serif;
    background-color:var(--Halloween-Orange) ;
    
}
.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: var(--Metallic-Yellow);
}

header::after {
  content: '';
  display: table;
  clear: both;
}
.tekst{
  font-size: 19px;
  text-align: center;
}
.main{
  text-align: center;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: rgb(245, 243, 243);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 1rem;
}

.gallery div {
  height: 100%;
  width: 100%;
}

.gallery img {
  width: 100%;
}

.image1 {
  grid-column-start: 1;
  grid-column-end: 3;

}

.bottom-link{
  display: inline-block;
  margin: 1rem;
  text-align: center;
  
  }
  .lil-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .lil-wrapper i{
  margin-right: 1rem;
  
  }
  .lil-wrapper a{
  text-decoration: none;
  color: var(--text);
  
  }
  .footer{
    text-align: center;
     padding: 2rem;
  
      
  }
  li:hover{
    color: whitesmoke;
    letter-spacing: 1px;
    transition: all 0.4s ease 0s;
  }
